body {
    margin: 0;
}

.about {
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 50px;

    .about-title {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }

    .about-content {
        font-size: 1.3rem;
    }
}

.about-cards {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
    justify-items: center;
    width: 100vw;

    .about-card {
        display: flex;
        flex-direction: row;
        width: 30vw;
        height: 30vh;

        .card-image {
            height: 100px;
            width: 100px;
        }

        .card-text {
            display: flex;
            flex-direction: column;

            .title-container {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                font-weight: bold;
                height: 100px;

                p {
                    margin: 0;
                    padding: 0;
                    margin-right: auto;
                }
            }

            .content-container {
                display: flex;
                justify-content: start;
                align-items: center;
                font-size: 1.2rem;

                p {
                    margin: 0;
                    padding: 0;
                    margin-right: auto;
                }
            }
        }
    }
}