body {
    margin: 0;
}

.about-container {
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.about-text {
    height: 30vh;
    width: 75%;
}

.about-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.about-content {
    font-size: 1.5rem;
}

.cards {
    height: 60vh;
    display: absolute;
}

.row {
    display: inline-flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.info-card {
    display: inline-flex;
    width: 30%;
    height: 25vh;
}

.info-content {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    overflow: hidden;
}

.info-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.info-image {
    width: 86.4px;
    height: 86.4px;
}